<ul class="nav nav-tabs">
  <li class=""><%= link_to "Browse Lessons", events_path %></li>
  <li class=""><%= link_to "New Lesson", new_event_path %></li>
  <li class=""><%= link_to "Feedback", comments_path %></li>
</ul>