<div class="page-header">
  <h1>Contact Us</h1>
</div>

<p class="lead">Have a question? </p>

<p>Please enter your details below, we will contact you as soon as possible.</p>

<%= render :partial => 'form' %>