<p>You have been invited to Program.me by <%= @user.full_name %>.</p>

<p>If you wish to connect with this tutor, please signup quoting their unique key <%= @user.token %>.</p>

<p>Signup here <a href="@sign_url"><%= @sign_url %></a></p>