<div class="navbar" style="margin-top:10px">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li ><%= link_to "Browse Lessons", events_path %></li>
          <li><%= link_to "New Lesson", new_event_path %></li>
          <li><%= link_to "Feedback", comments_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>